<section class="game"
  ng-class="{'game-over': $ctrl.isGameOver}">
  <div class="game__wrap">
    <div class="game__field">
      <div ng-repeat="row in $ctrl.field track by $index"
        ng-init="rowIndex = $index"
        class="game__field-row">
          <div ng-repeat="cell in row track by $index"
            class="game__field-cell"
            ng-class="{'game__field-cell--empty': cell === 0, 'game__field-cell--x': cell === 1 || cell === 3, 'game__field-cell--0': cell === 2 || cell === 4,
            'game__field-cell--win': cell === 3 || cell === 4}"
            ng-click="$ctrl.selectCell(rowIndex, $index)">
          </div>
      </div>
    </div>
  </div>
</section>

<div ng-if="$ctrl.isGameOver"
  ng-style="$ctrl.notifStyle"
  class="game-over__notif">
  <div class="game-over__notif-title">
    {{$ctrl.winner}}
  </div>
  <div class="game-over__notif-text">
    Выиграл!!!
  </div>

  <button type="button"
    ng-click="$ctrl.goStart()">
    Продолжить
  </button>
</div>